<div class="container mx-auto px-4 lg:px-8">
  <!-- Added padding for better spacing -->
  <div class="max-w-xl mx-auto bg-white shadow-md rounded-lg overflow-hidden">
    <div class="p-4">
      <div class="flex items-center justify-between">
        <div class="flex items-center">
          <span class="text-3xl text-green-500 mr-2">₹</span>
          <h2 class="text-lg font-semibold text-gray-800">Income</h2>
        </div>
      </div>
      <hr class="my-4 border-gray-300">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div>
          <h3 class="text-lg font-semibold text-gray-800">Last Few Months</h3>
          <ul class="mt-2 text-sm text-gray-600">
            <li *ngFor="let monthIncome of lastMonthIncome" class="py-1">➡️ {{monthIncome}}</li>
          </ul>
        </div>
        <div>
          <h3 class="text-lg font-semibold text-gray-800">Current Month</h3>
          <p class="mt-2 text-sm text-gray-600">➡️ {{currentMonthIncome}}</p>
        </div>
      </div>
    </div>
    <div class="p-3 flex justify-center">
      <a href="budget-planner/income"> <button type="button"
          class="button bg-gradient-to-r font-bold py-2 px-4 border rounded-lg from-purple-500 to-indigo-600 text-sm text-white hover:text-gray-900 focus:outline-none focus:text-gray-900">Add
          Income</button></a>
    </div>
  </div>
</div>
