<nav class="m-2">
  <div
    class="flex justify-between items-center bg-gradient-to-r from-purple-500 to-indigo-600 h-[95px] border rounded-lg shadow-lg">
    <div class="ml-4">
      <!-- Logo or brand -->
      <h1 class="text-4xl md:text-6xl text-white font-bold">Budget Planner</h1>
    </div>
    <div class="mr-4">
      <!-- Navigation links -->
      <ul class="flex space-x-12">
        <li><a href="/budget-planner/dashboard"
            class="text-white text-2xl text-bold hover:text-gray-300 transition duration-300">Dashboard</a></li>
        <li><a href="/budget-planner/profile"
            class="text-white text-2xl text-bold hover:text-gray-300 transition duration-300">Profile</a>
        </li>
        <li><a href="/budget-planner/PrevHistory"
            class="text-white text-2xl text-bold hover:text-gray-300 transition duration-300">Prev
            History</a>
        </li>
        <li><a href="/budget-planner/login"
            class="text-white text-2xl text-bold hover:text-gray-300 transition duration-300">Log Out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
